NEXT_PUBLIC_NAME_APP="Raffle Rifas y Sorteos"
NEXT_PUBLIC_LINK_IOS=https://www.google.com/?hl=es
NEXT_PUBLIC_LINK_ANDROID=https://www.google.com/?hl=es
NEXT_PUBLIC_WHATSAPP_URL="https://wa.me/+573114302256?text=Bybemytech%20Company"
NEXT_PUBLIC_PHONE_NUMBER= "+573001234567"
NEXT_PUBLIC_EMAIL=bemytechcompany@gmail.com
NEXT_PUBLIC_LINK_BEMYTECH=https://bemytech.io/
NEXT_PUBLIC_LINK_PRIVACIDAD=https://bemytech.io/privacy-policy
NEXT_PUBLIC_FACEBOOK_URL=https://www.facebook.com/share/1E6X5ATCPK/?mibextid=wwXIfr
NEXT_PUBLIC_LINKEDIN_URL=https://www.linkedin.com/company/bemytech-company